<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form method="POST" action="/add">
    <input type="text" name="tasked" id="task" placeholder="enter" />
    <input type="submit" class="btn btn-lg btn-success" value="add">
  </form>

  <% for(var tasks of data){ %>
    <form action='/delete' method="POST">
      <h4>
        <%= tasks.work %>
      </h4>
      <input name="id" value="<%= tasks._id %>" type="hidden" /> 
      <input name="comp" placeholder="update <%=tasks.work %>"/>
            <button type="submit" class="btn btn-m btn-success"  formaction="/update">Update</button>
        
          <button type="submit" class="btn btn-m btn-danger">Delete</button> <br/>
    </form>



    </form>

    <% } %>


    
</body>

</html>